<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="https://es.reactjs.org/docs/hooks-effect.html"> hola </a>
    <select>
        <option value="hola"> hola
            <a href="https://es.reactjs.org/docs/hooks-effect.html"> f </a>
        </option> <a href="https://es.reactjs.org/docs/hooks-effect.html"> hola </a>
        <a
            href="https://webdesign.tutsplus.com/es/tutorials/how-to-make-the-bootstrap-navbar-dropdown-work-on-hover--cms-33840">candys</a>
    </select>
</body>

</html>