.root { 
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 30%;
    height: 180px;
    border-radius: 20px;
    box-shadow: 0px 23px 23px -17px rgba(232,232,232,0.36);
    background-color: #D1D1D1;
    cursor: pointer;

}
.containerInfo { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    line-height: 90%;
}
.containerInfo h1 { 
    margin: 0;
}
.containerImg { 
    display: flex;
    width:  50%;  
    justify-content: center;
    align-items: center;
}

.containerImg img { 
    width: 150px;
    height: 150px;
}

.root:hover { 
    transform: scale(1.03);
    
}